-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "public"."AppointmentStatus" AS ENUM ('SCHEDULED', 'COMPLETED', 'CANCELLED', 'NO_SHOW');

-- CreateEnum
CREATE TYPE "public"."SourceChannel" AS ENUM ('MANUAL', 'AI', 'OTHER');

-- CreateEnum
CREATE TYPE "public"."OpportunityStatus" AS ENUM ('IN_PROGRESS', 'COMPLETED', 'PAUSED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "public"."StepType" AS ENUM ('INITIAL_CONTACT', 'SURVEY_SCHEDULING', 'SITE_SURVEY', 'PROPOSAL_GENERATION', 'CONTRACT_SIGNING', 'INSTALLATION_SCHEDULING', 'FOLLOW_UP', 'CALCULATOR', 'OPEN_SOLAR', 'PAYMENT', 'PRICING', 'FINISH_APPOINTMENT', 'WELCOME_EMAIL', 'INSTALLATION_BOOKING', 'SOLAR_PROJECTION', 'EMAIL_CONFIRMATION');

-- CreateEnum
CREATE TYPE "public"."StepStatus" AS ENUM ('PENDING', 'IN_PROGRESS', 'COMPLETED', 'SKIPPED');

-- CreateEnum
CREATE TYPE "public"."SurveyStatus" AS ENUM ('DRAFT', 'IN_PROGRESS', 'COMPLETED', 'SUBMITTED', 'APPROVED', 'REJECTED');

-- CreateEnum
CREATE TYPE "public"."UserRole" AS ENUM ('ADMIN', 'SURVEYOR');

-- CreateEnum
CREATE TYPE "public"."UserStatus" AS ENUM ('ACTIVE', 'INACTIVE', 'SUSPENDED');

-- CreateEnum
CREATE TYPE "public"."OpportunityOutcomeType" AS ENUM ('WON', 'LOST', 'ABANDONED', 'IN_PROGRESS');

-- CreateEnum
CREATE TYPE "public"."DocuSealDocumentType" AS ENUM ('CONTRACT', 'DISCLAIMER', 'BOOKING_CONFIRMATION');

-- CreateTable
CREATE TABLE "public"."User" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "name" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "ghlAccessToken" TEXT,
    "ghlRefreshToken" TEXT,
    "ghlUserId" TEXT,
    "tokenExpiresAt" TIMESTAMP(3),
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "username" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "role" "public"."UserRole" NOT NULL DEFAULT 'SURVEYOR',
    "status" "public"."UserStatus" NOT NULL DEFAULT 'ACTIVE',
    "isEmailVerified" BOOLEAN NOT NULL DEFAULT false,
    "emailVerificationToken" TEXT,
    "passwordResetToken" TEXT,
    "passwordResetExpires" TIMESTAMP(3),
    "lastLoginAt" TIMESTAMP(3),
    "ghlTeamId" TEXT,
    "ghlUserName" TEXT,
    "maxTravelTime" TEXT,
    "surveyorAreas" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "surveyorLocation" TEXT,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Appointment" (
    "id" TEXT NOT NULL,
    "scheduledAt" TIMESTAMP(3) NOT NULL,
    "customerName" TEXT NOT NULL,
    "customerPhone" TEXT NOT NULL,
    "customerEmail" TEXT,
    "address" TEXT NOT NULL,
    "status" "public"."AppointmentStatus" NOT NULL,
    "ghlAppointmentId" TEXT,
    "userId" TEXT NOT NULL,
    "notes" TEXT,
    "sourceChannel" "public"."SourceChannel" NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Appointment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."OpportunityProgress" (
    "id" TEXT NOT NULL,
    "ghlOpportunityId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "currentStep" INTEGER NOT NULL DEFAULT 1,
    "totalSteps" INTEGER NOT NULL DEFAULT 5,
    "status" "public"."OpportunityStatus" NOT NULL DEFAULT 'IN_PROGRESS',
    "startedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lastActivityAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "completedAt" TIMESTAMP(3),
    "stepData" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "contactAddress" TEXT,
    "contactPostcode" TEXT,

    CONSTRAINT "OpportunityProgress_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."OpportunityStep" (
    "id" TEXT NOT NULL,
    "opportunityProgressId" TEXT NOT NULL,
    "stepNumber" INTEGER NOT NULL,
    "stepType" "public"."StepType" NOT NULL,
    "status" "public"."StepStatus" NOT NULL DEFAULT 'PENDING',
    "data" JSONB,
    "startedAt" TIMESTAMP(3),
    "completedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "OpportunityStep_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."OpenSolarProject" (
    "id" TEXT NOT NULL,
    "opportunityId" TEXT NOT NULL,
    "opensolarProjectId" TEXT NOT NULL,
    "projectName" TEXT NOT NULL,
    "address" TEXT,
    "systems" JSONB NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "OpenSolarProject_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Survey" (
    "id" TEXT NOT NULL,
    "ghlOpportunityId" TEXT NOT NULL,
    "ghlUserId" TEXT,
    "page1" JSONB,
    "page2" JSONB,
    "page3" JSONB,
    "page4" JSONB,
    "page5" JSONB,
    "page6" JSONB,
    "page7" JSONB,
    "page8" JSONB,
    "status" "public"."SurveyStatus" NOT NULL DEFAULT 'DRAFT',
    "eligibilityScore" INTEGER,
    "rejectionReason" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "submittedAt" TIMESTAMP(3),
    "approvedAt" TIMESTAMP(3),
    "rejectedAt" TIMESTAMP(3),
    "deletedAt" TIMESTAMP(3),
    "isDeleted" BOOLEAN NOT NULL DEFAULT false,
    "createdBy" TEXT NOT NULL,
    "updatedBy" TEXT,

    CONSTRAINT "Survey_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."SurveyImage" (
    "id" TEXT NOT NULL,
    "surveyId" TEXT NOT NULL,
    "fieldName" TEXT NOT NULL,
    "fileName" TEXT NOT NULL,
    "originalName" TEXT NOT NULL,
    "mimeType" TEXT NOT NULL,
    "fileSize" INTEGER NOT NULL,
    "filePath" TEXT NOT NULL,
    "base64Data" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SurveyImage_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Signature" (
    "id" TEXT NOT NULL,
    "opportunityId" TEXT NOT NULL,
    "signatureData" TEXT NOT NULL,
    "signedAt" TIMESTAMP(3) NOT NULL,
    "signedBy" TEXT,
    "ipAddress" TEXT,
    "userAgent" TEXT,
    "filePath" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Signature_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."OpportunityOutcome" (
    "id" TEXT NOT NULL,
    "ghlOpportunityId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "outcome" "public"."OpportunityOutcomeType" NOT NULL,
    "value" DOUBLE PRECISION,
    "duration" INTEGER,
    "stageAtOutcome" TEXT,
    "notes" TEXT,
    "ghlUpdatedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "OpportunityOutcome_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."AutoSave" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "opportunityId" TEXT NOT NULL,
    "data" JSONB NOT NULL DEFAULT '{}',
    "lastSavedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deletedAt" TIMESTAMP(3),
    "isDeleted" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "AutoSave_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."CalculatorProgress" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "opportunityId" TEXT NOT NULL,
    "calculatorType" TEXT NOT NULL,
    "data" JSONB NOT NULL DEFAULT '{}',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CalculatorProgress_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."SystemSettings" (
    "id" TEXT NOT NULL,
    "key" TEXT NOT NULL,
    "value" TEXT NOT NULL,
    "description" TEXT,
    "category" TEXT NOT NULL DEFAULT 'general',
    "isPublic" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SystemSettings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."DocuSealSubmission" (
    "id" TEXT NOT NULL,
    "opportunityId" TEXT NOT NULL,
    "documentType" "public"."DocuSealDocumentType" NOT NULL,
    "templateId" TEXT NOT NULL,
    "submissionId" TEXT NOT NULL,
    "signingUrl" TEXT,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "signedDocumentUrl" TEXT,
    "customerName" TEXT,
    "customerEmail" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "completedAt" TIMESTAMP(3),

    CONSTRAINT "DocuSealSubmission_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "public"."User"("email");

-- CreateIndex
CREATE UNIQUE INDEX "User_ghlUserId_key" ON "public"."User"("ghlUserId");

-- CreateIndex
CREATE UNIQUE INDEX "User_username_key" ON "public"."User"("username");

-- CreateIndex
CREATE UNIQUE INDEX "OpportunityProgress_ghlOpportunityId_key" ON "public"."OpportunityProgress"("ghlOpportunityId");

-- CreateIndex
CREATE UNIQUE INDEX "OpportunityStep_opportunityProgressId_stepNumber_key" ON "public"."OpportunityStep"("opportunityProgressId", "stepNumber");

-- CreateIndex
CREATE UNIQUE INDEX "OpenSolarProject_opportunityId_key" ON "public"."OpenSolarProject"("opportunityId");

-- CreateIndex
CREATE UNIQUE INDEX "Survey_ghlOpportunityId_key" ON "public"."Survey"("ghlOpportunityId");

-- CreateIndex
CREATE INDEX "SurveyImage_surveyId_idx" ON "public"."SurveyImage"("surveyId");

-- CreateIndex
CREATE INDEX "SurveyImage_fieldName_idx" ON "public"."SurveyImage"("fieldName");

-- CreateIndex
CREATE INDEX "Signature_opportunityId_idx" ON "public"."Signature"("opportunityId");

-- CreateIndex
CREATE UNIQUE INDEX "OpportunityOutcome_ghlOpportunityId_key" ON "public"."OpportunityOutcome"("ghlOpportunityId");

-- CreateIndex
CREATE INDEX "OpportunityOutcome_userId_idx" ON "public"."OpportunityOutcome"("userId");

-- CreateIndex
CREATE INDEX "OpportunityOutcome_outcome_idx" ON "public"."OpportunityOutcome"("outcome");

-- CreateIndex
CREATE INDEX "OpportunityOutcome_createdAt_idx" ON "public"."OpportunityOutcome"("createdAt");

-- CreateIndex
CREATE INDEX "AutoSave_userId_idx" ON "public"."AutoSave"("userId");

-- CreateIndex
CREATE INDEX "AutoSave_opportunityId_idx" ON "public"."AutoSave"("opportunityId");

-- CreateIndex
CREATE INDEX "AutoSave_lastSavedAt_idx" ON "public"."AutoSave"("lastSavedAt");

-- CreateIndex
CREATE UNIQUE INDEX "AutoSave_userId_opportunityId_isDeleted_key" ON "public"."AutoSave"("userId", "opportunityId", "isDeleted");

-- CreateIndex
CREATE INDEX "CalculatorProgress_userId_idx" ON "public"."CalculatorProgress"("userId");

-- CreateIndex
CREATE INDEX "CalculatorProgress_opportunityId_idx" ON "public"."CalculatorProgress"("opportunityId");

-- CreateIndex
CREATE INDEX "CalculatorProgress_calculatorType_idx" ON "public"."CalculatorProgress"("calculatorType");

-- CreateIndex
CREATE INDEX "CalculatorProgress_updatedAt_idx" ON "public"."CalculatorProgress"("updatedAt");

-- CreateIndex
CREATE UNIQUE INDEX "CalculatorProgress_userId_opportunityId_calculatorType_key" ON "public"."CalculatorProgress"("userId", "opportunityId", "calculatorType");

-- CreateIndex
CREATE UNIQUE INDEX "SystemSettings_key_key" ON "public"."SystemSettings"("key");

-- CreateIndex
CREATE INDEX "SystemSettings_key_idx" ON "public"."SystemSettings"("key");

-- CreateIndex
CREATE INDEX "SystemSettings_category_idx" ON "public"."SystemSettings"("category");

-- CreateIndex
CREATE INDEX "DocuSealSubmission_opportunityId_idx" ON "public"."DocuSealSubmission"("opportunityId");

-- CreateIndex
CREATE INDEX "DocuSealSubmission_submissionId_idx" ON "public"."DocuSealSubmission"("submissionId");

-- CreateIndex
CREATE INDEX "DocuSealSubmission_documentType_idx" ON "public"."DocuSealSubmission"("documentType");

-- CreateIndex
CREATE INDEX "DocuSealSubmission_status_idx" ON "public"."DocuSealSubmission"("status");

-- CreateIndex
CREATE UNIQUE INDEX "DocuSealSubmission_opportunityId_documentType_key" ON "public"."DocuSealSubmission"("opportunityId", "documentType");

-- AddForeignKey
ALTER TABLE "public"."Appointment" ADD CONSTRAINT "Appointment_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."OpportunityProgress" ADD CONSTRAINT "OpportunityProgress_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."OpportunityStep" ADD CONSTRAINT "OpportunityStep_opportunityProgressId_fkey" FOREIGN KEY ("opportunityProgressId") REFERENCES "public"."OpportunityProgress"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Survey" ADD CONSTRAINT "Survey_createdBy_fkey" FOREIGN KEY ("createdBy") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Survey" ADD CONSTRAINT "Survey_ghlUserId_fkey" FOREIGN KEY ("ghlUserId") REFERENCES "public"."User"("ghlUserId") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Survey" ADD CONSTRAINT "Survey_updatedBy_fkey" FOREIGN KEY ("updatedBy") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."SurveyImage" ADD CONSTRAINT "SurveyImage_surveyId_fkey" FOREIGN KEY ("surveyId") REFERENCES "public"."Survey"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."OpportunityOutcome" ADD CONSTRAINT "OpportunityOutcome_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."AutoSave" ADD CONSTRAINT "AutoSave_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."CalculatorProgress" ADD CONSTRAINT "CalculatorProgress_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

